.container {
  display: flex;
  height: 480px;
  margin-top: 40px;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.fixed-div {
  border-radius: 30px;
  background-color: #d6ee90;
  /* width: 1000px;  Задайте желаната ширина */
  /* height: 100%;  Оставете място за хедъра */
  overflow-x: hidden;
  border: 1px solid white;
}

.fixed-div::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

th,
td {
  width: 150px;
  border: 0px solid #ddd;
  padding: 5px;
  border-bottom: 1px solid white;
}

tbody td {
  text-align: center;
}

th {
  background-color: #73ea5f;
  padding: 10px;
}

.left-main-form {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.right-main-form {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.textBox-Changers {
  border-radius: 30px;
  text-align: center;
  padding: 0.2rem;
  border: 1px black solid;
  box-shadow: inset 1px 2px 10px 0px rgba(255, 0, 0, 0.2);
}

#form-Changer {
  display: flex;
  justify-content: space-evenly;
}

.textBoxes {
  margin-top: 100px;
}

.Button-Changers {
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 30px;
  padding: 0.5rem;
  cursor: pointer;
}

button input {
  cursor: pointer;
}

#right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-Button {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  border: 0px;
  padding: 8px 17px;
  background-color: red;
  cursor: pointer;
}
