.textBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

#left {
  grid-column: 1;
}

#right {
  grid-column: 2;
}

#formText {
  width: 30%;
  gap: 5px;
}
